#header {
    width: 100%;
    height: 25%;
    min-width: 300px;
    min-height: 75px;

}

#logout {
    position : relative;
    float: right;
    
}

#date {
    position: absolute;
}


body {
    background-color: #0FD9F0;
}

.dottless {
    list-style-type: none;
}

#calendar {
   position: absolute;
}

#monthSelect {
    min-width: 100px;
    
}

#days {
    float: none;
}
